{{!< default}}

<div class="posts">
  {{#foreach posts}}
  <div class="post">
    <h1 class="post-title">
      <a href="{{url}}">
        {{{title}}}
      </a>
    </h1>

	<div class="article-list-details">
		<span class="icon-clock"> </span> <time class="date hint" datetime="{{date format='dddd DD MMM YYYY'}}" title="{{date format='DD MMM YYYY'}}">{{date timeago="true"}}</time>
		{{#if tags}}<span class="icon-tag"> </span>{{tags separator=", "}}{{/if}}
	</div>

    {{content}}
  </div>
  {{/foreach}}

  {{pagination}}
</div>
